<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.nompute.gmailinator.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>GMailinator</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Michael Lai. All rights reserved.</string>
	<key>SupportedPluginCompatibilityUUIDs</key>
	<array>
		<string>DAFFB2B4-77BC-4C25-8CE1-2405E652D54B</string>
		<string>2B98D2DD-000B-4521-83EB-7BFCB9B161C8</string>
		<string>608CE00F-4576-4CAD-B362-F3CCB7DE8D67</string>
		<string>1146A009-E373-4DB6-AB4D-47E59A7E50FD</string>
		<string>2183B2CD-BEDF-4AA6-AC18-A1BBED2E3354</string>
		<string>19B53E95-0964-4AAB-88F9-6D2F8B7B6037</string>
		<string>0941BB9F-231F-452D-A26F-47A43863C991</string>
		<string>04D6EC0A-52FF-4BBE-9896-C0B5FB851BBA</string>
		<string>FBE5B158-5602-4A6D-9CC5-8461B9B7054E</string>
		<string>1CD40D64-945D-4D50-B12D-9CD865533506</string>
		<string>DAFFB2B4-77BC-4C25-8CE1-2405E652D54B</string>
	</array>
</dict>
</plist>
